@import '../assets/styles/base';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $navbar-height;

  h2 {
    margin-bottom: 20px;
  }
}

.login-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  grid-gap: 12px;

  @media screen and (max-width: $mobile-width) {
    max-width: unset;
  }
}

.login-action-link {
  color: $blue;
  cursor: pointer;
  width: fit-content;
  transform: translateY(-8px);

  &:hover {
    text-decoration: underline;
  }
}
