@import '../assets/styles/base';

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $navbar-height 0 20px;

  h2 {
    margin-bottom: 20px;
  }
}

.profile-page-illustration {
  height: 35vh;

  @media screen and (max-width: $mobile-width) {
    margin: 20px 0;
  }
}

.profile-page-text {
  margin: 20px 0;
  width: 50%;

  p {
    text-align: center;
  }

  @media screen and (max-width: $mobile-width) {
    margin: 32px 0;
    width: 100%;

    p {
      text-align: left;
    }
  }
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;

  @media screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    .react-ripples {
      width: 100% !important;
    }

    .react-ripples,
    button,
    a {
      width: 100% !important;
      text-align: center;
    }
  }
}
