@import '../../assets/styles/base';

.button-container {
  border-radius: 8px;
  width: fit-content;
}

.button-container-full-width {
  width: 100%;

  button {
    width: 100%;
  }
}

.button {
  border-radius: 8px;
  border: 2px solid $blue;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.button-large {
  padding: 10px 20px;
  font-size: 18px;
}

.button-small {
  padding: 8px 16px;
  font-size: 12px;

  @media screen and (max-width: $mobile-width) {
    padding: 12px 20px;
    font-size: unset;
  }
}

.button-primary {
  background-color: $blue;
  color: $white;
}

.button-secondary {
  background-color: $white;
  color: $blue;
}
